*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block1{
    
    background-image: url(./img/bg_img.jpg);
    width: 100%;
}
.block1 .header{
    background: rgba(1,1,1,0.6);
    
}
.block1 .menu{
    height: 150px;
}
.block1 .content{
    height: 650px;
    font-size: 24px;
}
.block1 .content p{
    background: rgba(1,1,1,0.4);
}
/* /block1 */
.block2{
background: #619bad;
width: auto;
height: 400px;
}
.column1{
    width: 20%;
    height: 175px;
}